* {
    margin:0;
    padding:0;
}

body{
    background-color:#ced6f0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ofrecemos{
    width: 80%;
    border-radius:10px;
    background-color: white;
}

.servicio{
    color: #426ae3;
}

.icono{
    color: white;
    padding: 8px;
    border-radius: 50%;
    background-color: #426ae3;
}

h3{
    margin: 20px 0px 10px 0px; 
    color: #0d1f57;
}

.titulo{
    font-size: 30px;
    color:#061652;
    padding: 15px;
}

.oracion{
    color: #616161;
}

.texto{
    padding: 20px;
    text-align: center;
}

.linea1{
    display: flex;
    justify-content: space-around;
}

.linea2{
    display: flex;
    justify-content: space-around;
}

.puntos{
    padding: 20px;
    width: 27%;
}

/* IMPORTANTE FALTA CENTRAR TODO  */